{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% set title = 'Resultados Encuesta' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block stylesheets %}
    <style>
        .table-responsive{
            overflow-x: auto;
        }
    </style>
{% endblock %}
    {% block body -%}
        <h4 class="page-header">{{ title }}</h4>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-table"></i>
                            <span>Encuestas</span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover table-heading table-datatable dataTable datatable-custom">
                            <thead>
                            <tr>
                                {% for cabecera in  encuestas.cabecera %}
                                    <th>
                                        {{ cabecera }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for fila in encuestas.tabla %}
                                <tr>
                                    {% for columna in fila %}
                                        <td>
                                            {{ columna }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-content">
            {{ knp_pagination_render(encuestas.tabla) }}
        </div>
        <a href="{{ path('campania_encuesta') }}">
            Volver
        </a>

    {% endblock %}
