{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% set title = 'Alta Etiqueta' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
    <script>
        $(".colorpicker").colorpicker();
    </script>
{% endblock %}
{% block stylesheets %}
    <style>
        .colorpicker::before {
            top: unset !important;
        }
    </style>
{% endblock %}
{% block body -%}

    <h4 class="page-header">Etiqueta</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box-header">
                <div class="box-name ui-draggable-handle">
                    <i class="fa fa-search"></i>
                    <span>Alta de Etiqueta</span>
                </div>
            </div>
            <div class="box-content">
                <h4 class="page-header">{{ title }}</h4>

                <form class="form-horizontal" role="form" action="{{ path('etiquetas_create') }}" role="form"
                      method="post">
                    <div class="box-body">
                        {#                        {{ form_widget(form) }}#}
                        <div class="form-group">
                            {{ form_label(form.nombre) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.nombre) }}
                            </div>

                        </div>
                        <div class="form-group">
                            {{ form_label(form.color) }}
                            <div class="input-group col-sm-4 colorpicker">
                                {{ form_widget(form.color) }}
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>

                        {{ form_rest(form) }}

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar
                                </button>

                                <a class="btn btn-success" href="{{ path('etiquetas') }}">
                                    Volver
                                </a>

                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>


{% endblock %}
