    {% extends 'ThemeBundle:Default:layout_base.html.twig' %}

    {% block body -%}
    <h1>CampaniaEncuestaOpcionesRespuesta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Obligatorio</th>
                <td>{{ entity.obligatorio }}</td>
            </tr>
            <tr>
                <th>Textoopcion</th>
                <td>{{ entity.textoOpcion }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Actualizado</th>
                <td>{{ entity.actualizado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('opciones_respuestas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('opciones_respuestas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    {% endblock %}
