{% form_theme signup _self %}

{% block form_row %}
    {% spaceless %}        
        {% if block_prefixes.1 == 'checkbox'%}
            {% set class = 'checkbox'%}
        {% endif %}
        <div class="{{class | default('form-group')}}{% if errors|length > 0 %} has-error{% endif %}">

            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {% if form.vars.help is defined %}
                <span class="help-block">{{ form.vars.help }}</span>
            {% endif %}


        </div>
    {% endspaceless %}
{% endblock form_row %}
{# Labels #}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-sm-2 control-label')|trim}) %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}
{% block form_errors %}
    {% spaceless %}        
        {% if errors|length > 0 %}
            <br>
            <label class="control-label" for="inputError">
                <i class="fa fa-times-circle-o"></i>
                {% for error in errors %}
                    <strong> {{ error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
                    </strong>
                {% endfor %}
            </label>            
        {% endif %}        
    {% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type == 'file' %}
            <input class="btn btn-success btn-sm" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% else %}
            <input class="form-control {% if (form.vars.attr['class']) is defined %}
                   {{(form.vars.attr['class'])}}
            {% endif %}" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endif %}
            {% endspaceless %}
                {% endblock form_widget_simple %}

                    {% block choice_widget_expanded -%}
                        <div {{ block('widget_container_attributes') }}>
                            {% for child in form %}
                                <div class="radio">
                                    <label>
                                        {{- form_widget(child) -}}
                                        {#{{- form_label(child) -}}#}
                                        {{ child.vars.label }}
                                        <i class="fa fa-circle-o"></i>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        {%- endblock choice_widget_expanded %}

                        {% block choice_widget_collapsed %}
                            {% spaceless %}
                                {% if required and empty_value is none and not empty_value_in_choices %}
                                    {% set required = false %}
                                {% endif %}
                                <select class="form-control {%if (form.vars.attr['class']) is defined%}
                                        {{(form.vars.attr['class'])}}
                                        {%endif%}" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                                        {% if empty_value is not none %}
                                            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
                                        {% endif %}
                                        {% if preferred_choices|length > 0 %}
                                            {% set options = preferred_choices %}
                                            {{ block('choice_widget_options') }}
                                            {% if choices|length > 0 and separator is not none %}
                                                <option disabled="disabled">{{ separator }}</option>
                                            {% endif %}
                                        {% endif %}
                                        {% set options = choices %}
                                        {{ block('choice_widget_options') }}
                                    </select>
                                    {% endspaceless %}
                                        {% endblock choice_widget_collapsed %}

                                            {% block textarea_widget %}
                                                {% spaceless %}
                                                    <textarea class="form-control {%if (form.vars.attr['class']) is defined%}
                                                              {{(form.vars.attr['class'])}}
                                                              {%endif%}" {{ block('widget_attributes') }}>{{ value }}</textarea>
                                                        {% endspaceless %}
                                                            {% endblock textarea_widget %} 
                                                                {% block form_widget_date_simple %}
                                                                    {% spaceless %}
                                                                        {% set type = type|default('text') %}
                                                                        <input type="{{ type }}" class="datepicker form-control pull-right" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>   
                                                                    {% endspaceless %}
                                                                {% endblock form_widget_date_simple %}

                                                                {% block date_widget %}
                                                                    {% spaceless %}
                                                                        {% if widget == 'single_text' %}
                                                                            {{ block('form_widget_simple') }}
                                                                            <span class="fa fa-calendar form-control-feedback"></span>
                                                                        {% else %}
                                                                            <div {{ block('widget_container_attributes') }}>
                                                                                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endspaceless %}
                                                                {% endblock date_widget %}

                                                                {#
                                                                {% block checkbox_widget -%}
                                                                    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                                                                {%- endblock checkbox_widget %}#}
