<ul class="nav main-menu">
    <li>
        <a href="{{path('app_homepage')}}" class="active ajax-link">
            <i class="fa fa-dashboard"></i>
            <span class="hidden-xs">Dashboard</span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-table"></i>
            <span class="hidden-xs">Persona</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="{{path('persona')}}">Listado de Personas</a></li>
            <li><a class="ajax-link" href="{{path('importar_personas_csv')}}">Importar Personas desde CSV</a></li>
            <li><a class="ajax-link" href="{{path('persona_filtro_etiquetas')}}">Listado de Personas por Etiquetas</a></li>
            <li><a class="ajax-link" href="{{path('etiquetar_personas_csv')}}">Etiquetar Personas desde CSV</a></li>
            <li><a class="ajax-link" href="{{path('etiquetas')}}">Listado de Etiquetas</a></li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-paste"></i>
            <span class="hidden-xs">Encuestas</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="{{path('campanias')}}">Campañas</a></li>
            <li><a class="ajax-link" href="{{path('campania_encuesta')}}">Encuestas</a></li>
            <li><a class="ajax-link" href="#">Preguntas</a></li>
            <li><a class="ajax-link" href="{{path('tipo_pregunta')}}">Tipos de Preguntas</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-archive"></i>
            <span class="hidden-xs">Electoral</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="{{path('establecimientos')}}">Establecimientos</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-bar-chart-o"></i>
            <span class="hidden-xs">Parametros</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="{{path('tipo_documento')}}">Tipos Documento</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-plus-square"></i>
                    <span class="hidden-xs">Ubicación</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="{{path('pais')}}">País</a></li>
                    <li><a class="ajax-link" href="{{path('provincia')}}">Provincia</a></li>
                    <li><a class="ajax-link" href="{{path('departamento')}}">Departamento</a></li>
                    <li><a class="ajax-link" href="{{path('localidad')}}">Localidad</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-plus-square"></i>
                    <span class="hidden-xs">Usuarios</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="{{path('permisos')}}">Permisos</a></li>
                    <li><a class="ajax-link" href="{{path('perfiles')}}">Perfiles</a></li>
                    <li><a class="ajax-link" href="{{path('usuarios')}}">Usuarios</a></li>


                </ul>
            </li>

        </ul>
    </li>


</ul>