<ul class="nav main-menu">
    <li>
        <a href="{{path('app_homepage')}}" class="active ajax-link">
            <i class="fa fa-dashboard"></i>
            <span class="hidden-xs">Dashboard</span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-table"></i>
            <span class="hidden-xs">Persona</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="{{path('persona')}}">Listado de Personas</a></li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-bar-chart-o"></i>
            <span class="hidden-xs">Parametros</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="{{path('tipo_documento')}}">Tipos Documento</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-plus-square"></i>
                    <span class="hidden-xs">Ubicación</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="{{path('pais')}}">País</a></li>
                    <li><a class="ajax-link" href="{{path('provincia')}}">Provincia</a></li>
                    <li><a class="ajax-link" href="{{path('departamento')}}">Departamento</a></li>
                    <li><a class="ajax-link" href="{{path('localidad')}}">Localidad</a></li>

                </ul>
            </li>

        </ul>
    </li>


</ul>