{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% set title = 'Personas' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block javascripts %}
    <script>
        $('.datatable-custom').dataTable({
            "searching": false,
            "columnDefs": [{"targets": 0, "orderable": false}],
            "paging": false,
            "aaSorting": [[1, "asc"]],
            "lengthMenu": false,
            "oLanguage": {
                "sEmptyTable": "Sin Resultados",
                "sInfo": "",
                "sInfoEmpty": ""
            }
        });
        $(document).ready(function () {


            $('.btn-ver-ubicaciones').click(function () {
                $('#form-listado-personas').submit();
            });
            $('#select_all').change(function () {
                var checkboxes = $(this).closest('form').find(':checkbox');
                if ($(this).is(':checked')) {
                    checkboxes.prop('checked', true);
                } else {
                    checkboxes.prop('checked', false);
                }
            });
            $('#btn-modal-etiquetar').click(function () {
                datos = $('#form-listado-personas').serialize();
                url = '{{path('etiquetar_persona_listado')}}';
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    cache: true,
                    url: url + "?" + datos + "&etiqueta=" + document.getElementById('bigd_personasbundle_etiqueta_nombre').value,
                    success: function (json) {
                        $('#modalEtiqueta').modal('hide');
                        modalAlert('La operación se realizó con exito');
                        },
                    });
                });
            });
    </script>
{% endblock %}
{% block body -%}

    <!-- Modal -->
    <div id="modalEtiqueta" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seleccione la etiqueta a aplicar</h4>
                </div>
                <div class="modal-body">
                    {#                    <div class="form-inline">#}
                    <div class="form-group">
                        <div class="col-sm-2"> 
                            {{ form_label(form_etiqueta.nombre)}}
                        </div>
                        <div class="col-sm-6"> 
                            {{ form_widget(form_etiqueta.nombre,{ 'attr': { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                    {#                    </div>#}
                </div>
                <div class="hidden">
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-modal-etiquetar" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>


    <h4 class="page-header">{{ title }}</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="box ui-draggable ui-droppable">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-search"></i>
                        <span>Filtros</span>
                    </div>
                </div>
                <div class="box-content">
                    <form class="form-horizontal" id="form_listado" role="form" method="post">
                        <div class="form-group">
                            {{ form_label(form.nombre) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.nombre) }}
                            </div>
                            {{ form_label(form.apellido) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.apellido) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.numeroDocumento) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.numeroDocumento) }}
                            </div>
                            {{ form_label(form.sexo) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.sexo) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.personaConDomicilioPrincipal) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.personaConDomicilioPrincipal) }}
                            </div>                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button class="btn btn-primary btn-label-left" type="submit">
                                    <span>
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    Buscar
                                </button>
                                <button class="btn btn-default" type="reset">
                                    <span>
                                        <i></i>
                                    </span>
                                    Limpiar
                                </button>
                                <button class="btn btn-default btn-ver-ubicaciones" type="button">
                                    <span>
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                    Ver Ubicaciones
                                </button>
                                <button class="btn btn-default btn-etiquetar" type="button" data-toggle="modal" data-target="#modalEtiqueta">
                                    <span>
                                        <i class="fa fa-tags"></i>
                                    </span>
                                    Etiquetar
                                </button> 

                                <a class="btn btn-default btn-modal-encuesta"
                                   data-url=""
                                   data-toggle="modal" data-target="#modalFecha"><i
                                        class="fa fa-fw icon-excel-black"></i></a>

                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box ui-draggable ui-droppable">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-table"></i>
                        <span>Listado de Personas</span>
                    </div>
                </div>
                <div class="box-content no-padding">
                    <div id="datatable-1_wrapper" class="dataTables_wrapper form-inline">
                        <form id="form-listado-personas" target="_blank"method="post" action="{{path('show_reporte_direcciones')}}">
                            <table  class="table table-bordered table-striped table-hover table-heading table-datatable dataTable datatable-custom" role="grid" aria-describedby="datatable-1_info">
                                <thead>
                                    <tr role="row">
                                        <th >
                                <div class="checkbox" style="width: 45px;padding-left: 0;margin: -13px;">
                                    <label>
                                        <input type="checkbox" id="select_all" style="clip: rect(0px, 0px, 0px, 0px);position: absolute">
                                        <i class="fa fa-square-o"></i>
                                    </label>
                                </div> 
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 46px;" aria-sort="ascending" aria-label="Id">Id</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Nombre</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Apellido</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Nº documento</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">CUIT/CUIL</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Fecha Nacimiento</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Sexo</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Creado</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Actualizado</th>
                                <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}" role="row">
                                            <td>

                                                <div class="checkbox" style="padding-left: 0;margin: -13px;">
                                                    <label>
                                                        <input type="checkbox" name="personas[]" value="{{ entity.id }}" style="clip: rect(0px, 0px, 0px, 0px);position: absolute">
                                                        <i class="fa fa-square-o"></i>
                                                    </label>
                                                </div>

                                            </td>
                                            <td class="sorting_1">{{ entity.id }}</td>
                                            <td>{{ entity.nombre }}</td>
                                            <td>{{ entity.apellido }}</td>
                                            <td>{{ entity.numeroDocumento }}</td>
                                            <td>{{ entity.cuitCuil }}</td>
                                            <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                                            <td>{{ entity.sexo }}</td>
                                            <td>{% if entity.creado %}{{ entity.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if entity.actualizado %}{{ entity.actualizado|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>

                                                <a class="btn btn-default btn-app-sm btn-circle" href="{{ path('persona_show', { 'id': entity.id }) }}"><i class="fa fa-fw fa-eye"></i></a>

                                                <a class="btn btn-default btn-app-sm btn-circle" href="{{ path('persona_edit', { 'id': entity.id }) }}"><i class="fa fa-fw fa-edit"></i></a>



                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                           
                        </form>
                        <div class="box-content">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-primary" href="{{ path('persona_new') }}">
                Nueva Persona
            </a>
            <button class="btn btn-default btn-ver-ubicaciones" type="button">
                <span>
                    <i class="fa fa-map-marker"></i>
                </span>
                Ver Ubicaciones
            </button>

        </div>
    </div>
{% endblock %}
