{% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% set title = 'Personas' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-ver-ubicaciones').click(function () {
{#                $('#form-listado-personas').submit();#}
            });
        });
    </script>
{% endblock %}
{% block body -%}
    <h4 class="page-header">{{ title }}</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="box ui-draggable ui-droppable">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-search"></i>
                        <span>Filtros</span>
                    </div>
                </div>
                <div class="box-content">
                    <form class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            {{ form_label(form.nombre) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.nombre) }}
                            </div>
                            {{ form_label(form.apellido) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.apellido) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.numeroDocumento) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.numeroDocumento) }}
                            </div>
                            {{ form_label(form.sexo) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.sexo) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.personaConDomicilioPrincipal) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.personaConDomicilioPrincipal) }}
                            </div>                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button class="btn btn-primary btn-label-left" type="submit">
                                    <span>
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    Buscar
                                </button>
                                <button class="btn btn-default" type="reset">
                                    <span>
                                        <i></i>
                                    </span>
                                    Limpiar
                                </button>
                                <button class="btn btn-default btn-ver-ubicaciones" type="button">
                                    <span>
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                    Ver Ubicaciones
                                </button>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box ui-draggable ui-droppable">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-table"></i>
                        <span>Listado de Personas</span>
                    </div>
                </div>
                <div class="box-content no-padding">
                    <div id="datatable-1_wrapper" class="dataTables_wrapper form-inline">
                        <form id="form-listado-personas" target="_blank"method="post" action="{{path('show_reporte_defunciones')}}">
                            <table  class="table table-bordered table-striped table-hover table-heading table-datatable dataTable datatable-1" role="grid" aria-describedby="datatable-1_info">
                                <thead>
                                    <tr role="row">
                                        <th></th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 46px;" aria-sort="ascending" aria-label="Id">Id</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Nombre</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Apellido</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Numerodocumento</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Cuitcuil</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Fechanacimiento</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Sexo</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Creado</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Actualizado</th>
                                        <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}" role="row">
                                            <td><input type="checkbox" name="personas[]" value="{{ entity.id }}"></td>
                                            <td class="sorting_1">{{ entity.id }}</td>
                                            <td>{{ entity.nombre }}</td>
                                            <td>{{ entity.apellido }}</td>
                                            <td>{{ entity.numeroDocumento }}</td>
                                            <td>{{ entity.cuitCuil }}</td>
                                            <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                                            <td>{{ entity.sexo }}</td>
                                            <td>{% if entity.creado %}{{ entity.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if entity.actualizado %}{{ entity.actualizado|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>

                                                <a class="btn btn-default btn-app-sm btn-circle" href="{{ path('persona_show', { 'id': entity.id }) }}"><i class="fa fa-fw fa-eye"></i></a>

                                                <a class="btn btn-default btn-app-sm btn-circle" href="{{ path('persona_edit', { 'id': entity.id }) }}"><i class="fa fa-fw fa-edit"></i></a>



                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                        <div class="box-content">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-primary" href="{{ path('persona_new') }}">
                Nueva Persona
            </a>
            <button class="btn btn-default btn-ver-ubicaciones" type="button">
                <span>
                    <i class="fa fa-map-marker"></i>
                </span>
                Ver Ubicaciones
            </button>

        </div>
    </div>
{% endblock %}
