{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-users"></i>
                        <span>Persona</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div class="card">
                        <h4 class="page-header">{{ entity.apellido }}, {{ entity.nombre }}</h4>
                        <p>
                            <span><strong>Tipo y Numero de Documento</strong></span> <br>
                            <span>{{ entity.tipoDocumento }}: {{ entity.numeroDocumento }}</span> <br>

                        </p>
                        <p>
                            <span><strong>CUIT/CUIL</strong></span> <br>
                            <span>{{ entity.cuitCuil }}</span> <br>

                        </p>
                        <p>
                            <span><strong>Fecha de Nacimiento</strong></span> <br>
                            <span>{{ entity.fechaNacimiento|date('d-m-Y ') }}</span> <br>

                        </p>
                        <p>
                            <span><strong>Sexo</strong></span> <br>
                            <span>{{ entity.sexo }}</span> <br>
                        </p>
                        <p>
                            <span><strong>Etiquetas</strong></span> <br>

                            {% for etiqueta in  entity.etiquetas %}
                                <span style=" background-color:{{ etiqueta.etiqueta.color }};color:#FFFFFF ">{{ etiqueta.etiqueta }}</span> <br>
                            {% endfor %}


                        </p>

                    </div>
                    <div class="card address">

                        <h4 class="page-header">Contacto:</h4>
                        <p>
                            <span><strong>Numero</strong></span> <br>
                            <span></span> <br>
                        </p>

                    </div>
                    {% set parametro = { 'nombre': entity.nombre, 'apellido': entity.apellido } %}
                    <div class="card address">                        
                        <h4 class="page-header">Dirección:</h4>

                        {% for domicilio in entity.domicilio %}
                            <p {% if domicilio.principal %}class="bg-info"{% endif %}>
                                {% set parametro = parametro|merge({'calle': domicilio.calle }) %}
                                {% set parametro = parametro|merge({'numero': domicilio.numero }) %}
                                {% set parametro = parametro|merge({'ciudad': domicilio.localidad.descripcion }) %}
                                {% set parametro = parametro|merge({'provincia': domicilio.localidad.departamento.provincia.descripcion }) %}
                                {% set parametro = parametro|merge({'pais': domicilio.localidad.departamento.provincia.pais.descripcion }) %}

                                <span>{{ domicilio.calle }}, {{ domicilio.numero }}</span> , <span>{{ domicilio.localidad }}, {{ domicilio.localidad.departamento.provincia }}, {{ domicilio.localidad.departamento.provincia.pais }} - Fuente de Datos: <strong>{{domicilio.fuenteDatos}}</strong></span> <a href="#" class="ver-direccion" data-address="{{ parametro|json_encode }}">Ver Direccion</a>  <br> 

                            </p>                        
                        {% endfor %}



                        <div class="map" id="map-1" style="height: 400px;"></div>

                    </div>

                </div>

            </div>            
        </div>
        <div class="col-xs-4">
            <div class="box ui-draggable ui-droppable">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-user"></i>
                        <span>Vehículos</span>
                    </div>

                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div class="card address">
                        {% for rodado in entity.rodado %}
                            <div class="card">
                                <h4>{{rodado.marcaRodado}} - {{rodado.modelo}}</h4>
                                <p>
                                    <span><strong>Patente: </strong></span><span>{{rodado.dominio}}</span>
                                    <br>
                                </p>
                                <h4 class="page-header"></h4>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-users"></i>
                        <span>IIBB</span>
                    </div>
                </div>
                <table  class="table table-bordered table-striped table-hover table-heading table-datatable dataTable datatable-custom" role="grid" aria-describedby="datatable-1_info">
                    <thead>
                        <tr role="row">
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Año</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Enero</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Febrero</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Marzo</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Abril</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Mayo</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Junio</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Julio</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Agosto</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Septiembre</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Octubre</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Noviembre</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Diciembre</th>
                            <th class="" tabindex="0" aria-controls="datatable-1" rowspan="1" colspan="1" style="width: 200px;" aria-label="">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for iibb in iibb %}
                            <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}" role="row">

                                <td>{{ iibb.anio }}</td>
                                <td>{{ iibb.enero }}</td>
                                <td>{{ iibb.febrero }}</td>
                                <td>{{ iibb.marzo }}</td>
                                <td>{{ iibb.abril }}</td>
                                <td>{{ iibb.mayo }}</td>
                                <td>{{ iibb.junio }}</td>
                                <td>{{ iibb.julio }}</td>
                                <td>{{ iibb.agosto }}</td>                                            
                                <td>{{ iibb.septiembre }}</td>
                                <td>{{ iibb.octubre }}</td>
                                <td>{{ iibb.noviembre }}</td>
                                <td>{{ iibb.diciembre }}</td>
                                <td>{{ iibb.total }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-5">                            
                <a class="btn btn-default" href="{{ path('persona') }}">
                    Volver
                </a>
            </div>

        </div>
    </div>



{% endblock %}
{% block javascripts %}   

    <script type="text/javascript"   src="https://maps.google.com/maps/api/js?sensor=false;language=es"></script>

    <script>
        function initialize(parameters) {
            address = parameters.calle + ' ' + parameters.numero + ', ' + parameters.ciudad + ', ' + parameters.provincia + ',' + parameters.pais;
            // I create a new google maps object to handle the request and we pass the address to it
            var geoCoder = new google.maps.Geocoder(address)
            // a new object for the request I called "request" , you can put there other parameters to specify a better search (check google api doc for details) ,
            // on this example im going to add just the address 
            var request = {address: address};

            // I make the request
            geoCoder.geocode(request, function (result, status) {
                // as a result i get two parameters , result and status.
                // results is an  array tha contenis objects with the results founds for the search made it.
                // to simplify the example i take only the first result "result[0]" but you can use more that one if you want

                // So , using the first result I need to create a  latlng object to be pass later to the map
                if (result[0] === undefined) {
                    return;
                }
                var latlng = new google.maps.LatLng(result[0].geometry.location.lat(), result[0].geometry.location.lng());

                // some initial values to the map  
                var myOptions = {
                    zoom: 15,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };


                // the map is created with all the information
                var map = new google.maps.Map(document.getElementById("map-1"), myOptions);

                var popup = new google.maps.InfoWindow({
                    content: 'Apellido: ' + parameters.apellido + '<br/>\n\
                      Nombre: ' + parameters.nombre,
                    position: map.getCenter()
                });

                var marker = new google.maps.Marker({
                    // definimos la poisicion de nuestra marca en el mapa
                    position: map.getCenter(),
                    map: map,
                    // titulo que aparecera cuando pongamos el cursor encima
                    title: 'Titulo',
                    icon: 'icon.png',
                    cursor: 'default',
                    draggable: false
                });

                // an extra step is need it to add the mark pointing to the place selected.
                var marker = new google.maps.Marker({position: latlng, map: map, title: 'title'});

                google.maps.event.addListener(marker, 'click', function () {
                    popup.open(map, marker);
                });

            })

        }

        $(document).ready(function () {

            initialize({{parametro|json_encode|raw}});

            $('.ver-direccion').click(function (e) {
                e.preventDefault();
                initialize($(this).data('address'));
            });



        });
    </script>


{% endblock javascripts %}