    {% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% set title = 'Edicion Perfil' %}
{% block title %}
{{ title }}
{% endblock %}

    {% block body -%}

    <h4 class="page-header">Perfil</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-12">            
            <div class="box-header">
                <div class="box-name ui-draggable-handle">
                    <i class="fa fa-search"></i>
                    <span>Alta de Perfil</span>
                </div>
            </div>
            <div class="box-content">
                <h4 class="page-header">{{ title }}</h4>
                <form action="{{ path('perfiles_update', { 'id': entity.id }) }}" role="form" method="post">
                    <div class="form-group">
                        {{ form_label(form.nombre) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.nombre) }}
                        </div>
                        {{ form_label(form.descripcion) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.descripcion) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.permisos) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.permisos) }}
                        </div>
                    </div>
                    {{form_rest(form)}}
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>

                            <a class="btn btn-success" href="{{ path('perfiles') }}">
                                Volver
                            </a>

                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>


            {% endblock %}


